nav
{
    z-index: 999;
}

.loading-screen {
    background-color: #0f172a;
    color: rgb(86, 86, 180);
    font-size: 30px;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 1;
    transition: 0.5s ease;
}

.loading-screen.hide {
    opacity: 0;
    visibility: hidden;
}

button:hover
{
    background-color: #fff;
}
body.dark-mode
{
    background-color: #0f172a !important;
    color: white !important;
}

body.dark-mode div, body.dark-mode a, body.dark-mode nav, body.dark-mode section, body.dark-mode .nav-link, body.dark-mode p, body.dark-mode span
{
    background-color: #0f172a !important;
    color: white !important;
}

footer h4, footer p
{
    color: #fff !important;
}

footer .container .row .col-md-4 span
{
    color: #fff !important;
    font-size: 20px;
    border: solid 1px rgb(240, 238, 238);
    border-radius: 20px;
    padding: 7px;
}
footer .container .row .col-md-4 span:not(.text-primary):not(.no-change) {
    font-size: 14px;
}
footer .container .row .col-md-4 a
{
    text-decoration: none;
    color: #fff !important;
}

#nav-btn:hover
{
    background-color: #0f172a !important;
    color: #fff !important;
}
body.nav-btn-edit #nav-btn:hover
{
    background-color: #fff !important;
    color: #0f172a !important;
}
button:hover
{
    background-color: #fff;
}
body.dark-mode
{
    background-color: #0f172a !important;
    color: white !important;
}

body.dark-mode div, body.dark-mode a, body.dark-mode nav, body.dark-mode section, body.dark-mode .nav-link, body.dark-mode p, body.dark-mode span
{
    background-color: #0f172a !important;
    color: white !important;
}

footer h4, footer p
{
    color: #fff !important;
}

footer .container .row .col-md-4 span
{
    color: #fff !important;
    font-size: 20px;
    border: solid 1px rgb(240, 238, 238);
    border-radius: 20px;
    padding: 7px;
}
footer .container .row .col-md-4 span:not(.text-primary):not(.no-change) {
    font-size: 14px;
}
footer .container .row .col-md-4 a
{
    text-decoration: none;
    color: #fff !important;
}
footer .container .row .col-md-4 span
{
    background: none;
}

#Modall
{
    display: none;
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, 0.075);
    width: 100%;
}
.SectionModal
{
    display: none;
}